{% extends 'base.html.twig' %}

{% block body %}

    <h2>Todo list</h2>
    <ol>
        <li>securité
            <ul>
                <li>check user pour chaque route controller</li>
            </ul>
        </li>
        <li>validation compte
            <ul>
                <li>reCaptcha</li>
            </ul>
        </li>

        <li>user
            <ul>
                <li>suppression user validated=false après 2 jours</li>
                <li>user inactif après ??? temps (6mois ? 1 an ?)</li>
            </ul>
        </li>

        <li>message
            <ul>
                <li>formulaire de contact avec reCaptcha</li>
            </ul>
        </li>
        <li>login
            <ul>
                <li>remember me</li>
            </ul>
        </li>

    </ol>
{% endblock %}

{% block title %}
    TODO | {{ parent() }}
{% endblock %}

