{% extends 'base.html.twig' %}


{% block title %}
    Erreur 403 | {{ parent() }}
{% endblock %}


{% block body %}
    <h1>Sort de protection Nv100 !!</h1>

    <p>
        Vous avez tenté de pénétrer un territoire interdit et un sort puissant lancé jadis par un magicien légendaire vous barre la route !<br/>
        Il vaudrait mieux retourner sur le sentier pour ne pas subir 42d100 de dégâts magiques...<br/>
        <br/>
        Si besoin, envoyez un message d'anomalie ou d'aide à un administrateur via un sort de contact à distance. (onglet "Contact")
    </p>

{% endblock %}
