{% extends 'base.html.twig' %}


{% block title %}
    Erreur 500| {{ parent() }}
{% endblock %}


{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="col alert alert-{{ label }}"  role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Sort de chaos Nv100 !!</h1>

    <p>
        Le monde s'assombrit autour de vous !<br/>
        Retournez sur le dernier sentier dont vous arrivez à vous rappeler.<br/>
        <br/>
        Si besoin, envoyez un message d'anomalie ou d'aide à un administrateur via un sort de contact à distance. (onglet "Contact")
    </p>

{% endblock %}
