{% extends 'base.html.twig' %}


{% block title %}
    Erreur 404 | {{ parent() }}
{% endblock %}


{% block body %}
    <h1>Sort de confusion Nv100 !!</h1>

    <p>
        Vous subissez les effet d'un terrible sort qui vous fait perdre votre orientation !<br/>
        Retournez sur le dernier sentier dont vous arrivez à vous rappeler.<br/>
        <br/>
        Si besoin, envoyez un message d'anomalie ou d'aide à un administrateur via un sort de contact à distance. (onglet "Contact")
    </p>

{% endblock %}
