{% extends 'base.html.twig' %}


{% block title %}
    Erreur | {{ parent() }}
{% endblock %}


{% block body %}
    <h1>Sort de chaos Nv100 !!</h1>

    <p>
        Le monde s'assombrit autour de vous !<br/>
        Retournez sur le dernier sentier dont vous arrivez à vous rappeler.<br/>
        <br/>
        Si besoin, envoyez un message d'anomalie ou d'aide à un administrateur via un sort de contact à distance. (onglet "Contact")
    </p>

{% endblock %}
