<div class="cardChamp mt-2 p-1 col">
    <div class="titleVoletG text-center">Score du dé:</div>
    <div class="text-center cardChamp m-2" id="scoreDe">0</div>
</div>
<div class="cardChamp mb-2 p-1">
    <p class="titleVoletG text-center">Choix du dé:</p>
    <button id="btnDe4" class="btnDe m-1 mdi mdi-dice-d4-outline" value="4"> d4</button>
    <button id="btnDe6" class="btnDe m-1 mdi mdi-dice-d6-outline" value="6"> d6</button>
    <button id="btnDe8" class="btnDe m-1 mdi mdi-dice-d8-outline" value="8"> d8</button>
    <button id="btnDe10" class="btnDe m-1 mdi mdi-dice-d10-outline" value="10"> d10</button>
    <button id="btnDe12" class="btnDe m-1 mdi mdi-dice-d12-outline" value="12"> d12</button>
    <button id="btnDe20" class="btnDe m-1 mdi mdi-dice-d20-outline" value="20"> d20</button>
    <button id="btnDe100" class="btnDe m-1" value="100">d100</button>
    <hr>
    <label> d1 à d1000</label>
    <input type="number" id="inputDe" step="1" min="1" max="1000">
    <button id="btnDeInput" class=" button mdi mdi-hand-coin-outline"> Lancer</button>
</div>