<div class="cardChamp mt-2 p-1 col">
    <p class="titleVoletG text-center">Gestion de la fiche:</p>
    <div class="my-2">
        <form method="post" action="{{ path('fiche_detail', {'id': fiche.id}) }}">
            <a href="{{ path('fiche_update', {'id':fiche.id}) }}"><button type="button" class="btn btn-sm button text-nowrap mdi mdi-application-edit" name="boutonFiche" value="update"> <span class="nowrap">Modifier la fiche</span></button></a>
        </form>
    </div>
</div>