{% extends 'base.html.twig' %}

{% block body %}
<div class="cardFiche col-4 m-5">
    <h2 class="h3 m-3 font-weight-normal cardTitle text-center p-1">Profil</h2>
    {% if app.user.id == user.id or is_granted("ROLE_ADMIN")%}
        <div class="cardChamp m-3 p-4">
            <dl class="row">
                <div class="col">
                    <dt>Pseudo</dt>
                    <dd>{{ user.pseudo }}</dd>
                </div>
                <div class="col">
                    <dt>Email</dt>
                    <dd>{{ user.email }}</dd>
                </div>
            </dl>
        </div>

        <div class="m-3">
            <a href="#"><button class="btn btn-lg button mt-5">Mettre à jour</button></a>
        </div>

    {% else %}
        <h3> Infos indisponibles</h3>
    {% endif %}
</div>
{% endblock %}

{% block title %}
    profil | {{ parent() }}
{% endblock %}

