<html>
    <body>
        <div>
            <h1>Activation de votre compte Mon Classeur JDR</h1>
        </div>
        <div>
            <p>
                <span style="font-size: 1em;">Félicitation {{ userPseudo }},</span><br>
                Votre compte est activé !<br>
                Vous êtes désormais prêt à créer vos fiches de personnage ou créer votre deck de Maître du jeu.<br>
            </p>
        </div>
        <br>
        <div>
            <p>
                Cordialement,<br>
                <span style="color: #d08856; text-shadow: #593918 1px 1px; font-weight: bold; background: linear-gradient(#8a8a8a, #494848); box-shadow: #593918 2px 2px; border-radius: 10px; margin-left: 10px; font-size: 1em;">Mon Classeur JDR</span>
            </p>
        </div>
    </body>
</html>