<html>
    <body>
        <div>
            <h1>Vous avez un message de Mon Classeur JDR</h1>
        </div>
        <div>
            <p>
                <span style="font-size: 1em;">Bonjour {{ userPseudo }},</span><br>
                Voici un message envoyé par un de nos administrateurs: <br>
            </p>
        </div>
        <div style=" border: #f3682c; box-shadow: #593918 2px 2px; border-radius: 10px; margin-left: 10px; font-size: 2em;">
            {{ message }}
        </div>
        <br>
        <div>
            <p>
                Cordialement,<br>
                <span style="color: #d08856; text-shadow: #593918 1px 1px; font-weight: bold; background: linear-gradient(#8a8a8a, #494848); box-shadow: #593918 2px 2px; border-radius: 10px; margin-left: 10px; font-size: 1em;">Mon Classeur JDR</span>
            </p>
        </div>
    </body>
</html>