<html>
    <body>
        <div>
            <h1>Code de validation de votre compte Mon Classeur JDR</h1>
        </div>
        <div>
            <p>
                <span style="font-size: 1em;">Bonjour {{ userPseudo }},</span><br>
                Bon retour parmi nous !<br>
                <br>
                Voici le nouveau code de validation de votre compte:
            </p>
        </div>
        <div style="color: #d08856; text-shadow: #593918 1px 1px; font-weight: bold; background: linear-gradient(#8a8a8a, #494848); box-shadow: #593918 2px 2px; border-radius: 10px; margin-left: 10px; font-size: 3em;">
            {{ codeValidation }}
        </div>
        <br>
        <div>
            <p>
                Cordialement,<br>
                <span style="color: #d08856; text-shadow: #593918 1px 1px; font-weight: bold; background: linear-gradient(#8a8a8a, #494848); box-shadow: #593918 2px 2px; border-radius: 10px; margin-left: 10px; font-size: 1em;">Mon Classeur JDR</span>
            </p>
        </div>
    </body>
</html>